<div class="d-grid gap-2 col-8 mx-auto py-5 px-5">
<div class="text-center mb-5">
<h1>Welcome</h1>
<h3 class= "mt-5">Mmefu Ego <br><span>(Budget App)</span></h3>
</div class= "mt-5">
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
   <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>
</div>


