<div class="d-grid gap-2 col-6 mx-auto mt-5">
<div class="text-center">
<h1>Welcome</h1>
<h3 class= "mt-5 text-primary">Mmefu Ego <br><span>(Budget App)</span></h3>
<h5 class= "mt-5">Sign in or sign up to continue</h5>
</div class= "mt-5">
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
   <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>